<div class="contents">
  <div class="article-box">
    <% @articles.each do |article| %>
    <article>
      <div class="article-image-box">
        <% if article.image.attached? %>  
          <%= image_tag article.image, class: 'article-image' %>  
        <% end %>  
      </div>
      <div class="article-main">
        <h1 class="article-title"><%= article.title %></h1>
        <p class="article-text">
          <%= simple_format(article.text) %>
        </p>
      </div>
    </article>
    <% end %>
  </div>
  
  <div class="sideber">
    <div class="mini-prof">
      <img class="mini-prof-image" src="/assets/prof.PNG">
      <h2>Motoyuki</h3>
      <h5>プロフィール</h5>
      <p class="mini-prof-text">
        この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
      </p>
    </div>
    <a class="twitter-timeline" data-width="280" data-height="500" data-theme="light" href="https://twitter.com/Motoyuki_PinkS?ref_src=twsrc%5Etfw">Tweets by Motoyuki_PinkS</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>