<div class="contents-s">
  <div class="works">
    <p>お仕事の依頼、相談はtwitterのDMにてお願いします。</p>
    <br>
    <a href="https://twitter.com/intent/tweet?screen_name=Motoyuki_PinkS&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @Motoyuki_PinkS</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>  