<div class="contents-s">
  <div class="contacts">
    <p>お仕事の依頼、相談はtwitterのDMにてお願いします。</p>
    <br>
    <%= link_to image_tag("Twitter_Logo_WhiteOnBlue", class: 'twitter_link_img'), "https://twitter.com/Motoyuki_PinkS?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3AMotoyuki_PinkS&ref_url=https%3A%2F%2Fintense-headland-91592.herokuapp.com%2F" %>
    <%= link_to "@Motoyuki_PinkS", "https://twitter.com/Motoyuki_PinkS?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Eprofile%3AMotoyuki_PinkS&ref_url=https%3A%2F%2Fintense-headland-91592.herokuapp.com%2F" %>
  </div>
</div>  